<header class="page-header" role="banner">
    <a href="{{ '/' | relative_url }}" class="logo">
        <img src="{{ '/assets/logo.svg' | relative_url }}" alt="{{ site.title }}">
        <span class="sr-only">NCH HOA</span>
    </a>
    <div>
        <h1 class="project-name">{{ site.title }}</h1>
        <h2 class="project-tagline">{{ site.description }}</h2>
        <a href="{{ '/residents' | relative_url }}" class="btn">Residents</a>
        <a href="{{ '/documents' | relative_url }}" class="btn">Documents</a>
        <a href="{{ '/external-requests' | relative_url }}" class="btn">External Requests</a>
    </div>
</header>